@media screen and (max-width: 1024px) {

    .navbar {
        width: 100%;
        justify-content: end;
    }

    .content-wrapper {
        width: 100%;
        height: 100%;
    }

    .hero {
        width: 100%;
        height: 80vh;
    }

    .hero-img {
        height: 80vh;
    }

    .hero-name {
        font-size: 2rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-title > span {
        font-size: 3rem;
    }

    .contact-btn {
        font-size: 1.2rem;
    }


    .about-me {
        padding-right: 0;

    }

    .my-skills {
        width: 100%;
    }

    .skills-card {
        margin: 0 .2rem;
    }


    .work-container {
        width: 100%;
    }

    .work-description {
        margin: 0 .3rem;
    }
}

@media screen and (max-width: 800px) {

    .menu {
        position: fixed;
        top: -100px;
        width: 100%;
        text-align: center;

    }

    .menu-wrapper {
        display: block;
        margin-right: 2rem;
    }

    .menu-display {
        top: 10vh;
        left: 0;
        height: 90vh;
        background-color: #272936;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav-item {
        font-size: 2rem;
        color: #fefefe;
    }
    
    .hero {
        position: relative;
        top: 5%;
        height: 90vh;

    }

    .hero-left {
        position: absolute;
        left: 10%;
        top: 50%;
        margin-left: 0;
        z-index: 2;
        text-align: center;
    }

    .hero-right {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .hero-img {
        height: 90vh;
        object-fit: cover;
    }


    .hero-name {
        font-size: 1.7rem;
    }

    .hero-title {
        font-size: 2.6rem;
    }

    .hero-title > span {
        font-size: 2.7rem;
    }

    .card-wrapper {
        width: 90%;
    }
    
    .work-description {
        width: 90%;
    }

    .project-heading {
        font-size: 1rem;
        margin: 0;
    }

    .project-description {
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {

    .hero {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .hero {
        height: 80vh;
        z-index: 1;
    }

    .hero-left {
        left: auto;
        margin: 0 auto;
        z-index: 2;
    }

    .hero-img {
        width: 100vw;
    }

    .hero-title,
    .hero-name {
        font-size: 2rem;
    }

    .hero-title > span {
        font-size: 2.1rem;
    }

    .about-me {
        margin-top: 10%;
    }

    .about-para {
        width: 80%;
    }

    .skills-front-end {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .skills-back-end {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: 0 auto;
    }

    .skills-card {
        margin: .5rem auto;
    }

    .skills-card > img {
        height: 32px;
    }

    .tag-container {
        flex-wrap: wrap;
    }

    .contact {
        width: 100%;
    }

    .about-heading,
    .skills-heading,
    .projects-heading {
        font-size: 3rem;
    }
}

@media screen and (max-width: 468px) {
    .skills-front-end {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: 0 auto;
      }
      .skills-back-end {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        margin: 0 auto;
      }
      
    .hero-name {
        font-size: 1.7rem;
    }

    .hero-title {
        font-size: 2.2rem;
    }

    .hero-title > span {
        font-size: 2.3rem;
    }

    .contact-btn {
        font-size: 1rem;
    }

    .work {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .work-description {
        text-align: center;
    }

    .tag-container {
        justify-content: center;
    }

    .card-left {
        width: 100%;
        height: fit-content;
    }

    .card-image-wrapper {
        height: fit-content
    }

    .projects-img {
        width: 100%;
        height: 100%;
    }
}
