.contact {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.contact-header {
    font-size: 3rem;
    text-align: center;
}

.span-bg {
    background-color: #214554;
    color: #fefefe;
    padding: 0 .5rem;
}

.dot {
    font-size: 5rem;
    color: #f97460;
}

.information {
    text-align: center;
    margin-top: 1rem;
}

.some-icon {
    margin: 0 .5rem;
}

.credits {
    text-align: end;
    font-size: .7rem;
    margin-right: 0.3rem;
    color: grey;
}