/* General styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 10%;
}

body {
    background-image: #f3f3f3;
    height: 100vh;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    font-weight: bold;
}

span {
    color: var(--accent-color);
}

.light-theme {
    --header-color: #fefefe;
    --bg-body: #e2e2e2;
    --bg-color: #fefefe;
    --primary-color: #000000;
    --secondary-color: #4b4a4a;
    --button-color: #c2c1c1;
    --accent-orange: #f97460;
    --accent-dark: #272936;
    --card-color: #9290901a;
    --heading-color: #747171c1;
}