/* styling for header and navigation */

.header {
	top: 0;
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	align-items: center;
	z-index: 3;
}

.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 1.3rem;
	font-weight: 600;
}

.navbar {
	display: flex;
	align-items: center;
	overflow-x: hidden;
	justify-content: end;
	width: 100%;
}

.menu {
	display: flex;
	margin-right: 2rem;
}

.menu,
.menu-display {
	z-index: 999;
}

.nav-items {
	padding: 0 0.8rem;
	list-style: none;
}

.nav-item {
	color: var(--primary-color);
}

.nav-item:hover {
	color: var(--accent-orange);
	text-decoration-line: underline;
	transition: 0.2s ease-in;
}

.menu-wrapper {
	background: none;
	border: none;
	display: none;
	cursor: pointer;
}
