/* styling for hero  */

.hero {
    display: flex;
    width: 80%;
    align-items: center;
    height: 60vh;
    margin: 10% auto;
    max-width: 1300px;
}

.hero-left {
    width: 60%;
    text-align: center;
}

.hero-right {
    width: 40%;
    text-align: center;
}

.hero-img {
    width: 80%;
    border-radius: 5px;
}

.hero-name {
    font-size: 3.5rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-title>span {
    font-size: 3rem;
}

.hero-btn-wrapper {
    margin-top: 2rem;
}

.hero-left button {
    border: none;
    border-radius: .2rem;
    padding: .9rem 1.5rem;
    font-weight: bold;
}

.contact-btn {
    background: var(--accent-orange);
    color: var(--primary-color);
    padding: .8rem;
    border-radius: .2rem;
    background: linear-gradient(to left, var(--accent-orange) 50%, var(--accent-dark) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.contact-btn:hover {
    background-position: left;
    color: var(--header-color);
}

.download-btn {
    background: var(--button-color);
    color: var(--primary-color);
    padding: .8rem;
    border-radius: .2rem;
    background: linear-gradient(to left, var(--button-color) 50%, var(--accent-dark) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.download-btn:hover {
    background-position: left;
    color: var(--header-color);
}
