.hero {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.hero > p {
	width: 80%;
}

.hero-img {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
}
