/* styling for hero  */

.hero {
    display: flex;
    width: 80%;
    align-items: center;
    height: 80vh;
    margin: 0 auto;

}

.hero-left {
    width: 60%;
    text-align: center;
}

.hero-right {
    width: 40%;
    text-align: center;

}

.hero-img {
    width: 80%;
    border-radius: 5px;
}

.hero-name {
    font-size: 3.5rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-title>span {
    font-size: 3rem;
}

.hero-btn-wrapper {
    margin-top: 2rem;
}

.hero-left button {
    border: none;
    border-radius: .2rem;
    padding: .9rem 1.5rem;
    font-weight: bold;

}

.contact-btn {
    background: #f97460;
    color: var(--primary-color);
    padding: .8rem;
    border-radius: .2rem;
    background: linear-gradient(to left, #f97460 50%, #272936 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.contact-btn:hover {
    background-position: left;
    color: #fefefe;
}

.download-btn {
    background: var(--button-color);
    color: var(--primary-color);
    padding: .8rem;
    border-radius: .2rem;
    background: linear-gradient(to left, var(--button-color) 50%, #272936 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.download-btn:hover {
    background-position: left;
    color: #fefefe;
}


/* about section */

.about-me {
    border-top: 1.5px solid var(--secondary-color);
    border-bottom: 1.5px solid var(--secondary-color);
    background-color: #272936;
    width: 100%;;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.about-heading {
    text-align: end;
    font-size: 5rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.about-para {
    margin: 0 auto;
    width: 50%;
    line-height: 1.6;
}

.about-para p {
    color: #fefefe;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 50%;
}


.image {
    aspect-ratio: 1;
    width: 80%;
    border-radius: 50%;
}