@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* css imports */

@import url("generals.css");
@import url("header.css");
@import url("hero.css");
@import url("skills.css");
@import url("projects.css");
@import url("contact.css");
@import url("breakpoints.css");


/* light mode */

.light-theme {
    --header-color: #4241411e;
    --bg-body: linear-gradient(to top, #ffffff, #e2e2e2);
    --bg-color: #fefefe;
    --primary-color: #000000;
    --secondary-color: #4b4a4a;
    --button-color: #c2c1c1;
    --accent-color: #12abdb;
    --card-color: #9290901a;
    --heading-color: #747171c1;

}