.projects-container {
	margin-top: 1rem;
}

.projects-heading {
	color: var(--heading-color);
	font-size: 24px;
}

.work {
	display: flex;
	margin-top: 1rem;
}

.work-image-wrapper {
	margin: auto 0;
}

.project-heading {
	font-size: 1rem;
	font-weight: 600;
	color: var(--accent-orange);
}

.projects-img {
	width: 250px;
	aspect-ratio: 16/9;
	max-height: 230px;
	border: 1px solid rgba(0, 0, 0, 0.054);
}

.card-left {
	width: 50%;
}

.work-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	height: 100%;
	gap: 0.5rem;
}

.techniques {
	background: black;
	padding: 0.2rem;
	margin: 0.1rem;
	font-size: 0.8rem;
	color: white;
}

.tag-container {
	display: flex;
}

.projects-btn:nth-child(2) {
	margin-left: 0.5rem;
}

.project-link {
	height: 24px;
}
