
.work-container {
    width: 100%;
    max-width: 1300px;
    padding-bottom: 2rem;
    margin: 0 auto;
    background-color: #222222;
    }

.projects-heading {
    margin-bottom: 3rem;
    text-align: end;
    color: var(--heading-color);
    font-size: 5rem;
}

.card-wrapper {
    width: 80%;
    margin: 0 auto;
}

.work {
    width: 100%;
    display: flex;
    border: 1rem;
    margin-bottom: 3rem;
}

.work-image-wrapper {
    width: 40%;
    justify-content: flex-end;
}

.project-heading {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--accent-orange);

}

.projects-img {
    width: 100%;
    max-height: 233px;
}


.card-left {
    width: 60%
}


.work-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    gap: .5rem;
}

.project-description {
    color: #cdcccc;
}


.techniques {
    background: rgba(0, 0, 0, 0.555);
    padding: .1rem .2rem;
    color: #cdcccc;
    margin: .1rem;
    font-size: .8rem;
}

.tag-container {
    display: flex;
}

.projects-btn:nth-child(2){
    margin-left: .5rem;
}

.project-link {
    height: 24px;
}
